main.showlaxy-main.showlaxy-main--page-news
  .showlaxy__container.showlaxy__container--white.showlaxy__container--main
    section.showlaxy-main-block.grid.grid-column
      h2.showlaxy-main-block__header Новости
      .showlaxy-main-block__container.grid.grid-wrap
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img5.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img6.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img7.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
        a.showlaxy-main-block__item.showlaxy-main-block__item--lg(href="#")
          img.showlaxy-main-block__img(src="img/img8.jpg", alt="")
          p.showlaxy-main-block__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id 
      button.showlaxy-main-block__btn.btn.btn-disabled(type="button") Загрузить еще